<div class="col-md-4" style="padding-top:20px">
    <div class="col-md-12">
        <div class="card bg-dark">
            <img class="card-img-top" src="https://www.purelypetsinsurance.co.uk/media/1493/stray-dog.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="color:white">Veny</h5>
                <button type="button" class="btn btn-danger">Details</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>