@model List<CatalogViewModel>

@{
    ViewBag.Title = "Cats";
}

<h1 class="d-flex justify-content-center">@ViewBag.Title <i class="fas fa-cat ml-3"></i></h1>
<div class="row">
    @foreach (var cat in Model)
    {
        <partial name="_PetPartial" model="cat" />
    }

</div>