@model List<CatalogViewModel>

@{ 
    ViewBag.Title = "Others";
}

<h1 class="d-flex justify-content-center">@ViewBag.Title <i class="fas fa-otter ml-3"></i></h1>
<div class="row">
    @foreach (var pet in Model)
    {
        <partial name="_PetPartial" model="pet" />
    }

</div>