
<div class="vtimeline-point">
    <div class="vtimeline-block">

        <a href="#"><img style="height:400px; width:700px;" src="https://happydogskohchang.org/wp-content/uploads/revslider/Homev2/Namtan-1910-1160x773-1160x773.jpg" alt="" class="img-fluid mb20"></a>
        <a href="#"><h3>Standard post title</h3></a>
        <ul class="post-meta list-inline">
            <li class="list-inline-item">
                <i class="fas fa-pencil-alt mr-2"></i>John Doe
            </li>
            <li class="list-inline-item">
                <i class="fa fa-calendar-o mr-2"></i>29 June 2017
            </li>
            <li class="list-inline-item">
                <a asp-area="" asp-controller="Blogs" asp-action="Comments">
                    <i class="fas fa-comment mr-2"></i>Comments
                </a>
            </li>

        </ul>
        <p>
            Mickey is having a great time with his new owners for the 6 months he has been in...
        </p>
        <p style="display:none">He has learned to sit on command to roll and has received multiple vaccines in order to improve his health state</p>
        <button class="btn btn-outline-secondary btn-sm">Read More</button>

    </div>
</div>
<hr style="color:black" />
