@using PetSanctuary.Web.ViewModels.Comments
@model List<CommentViewModel>
<div class="row d-flex justify-content-center mt-100 mb-100">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title">Latest Comments</h4>
            </div>
            <div>
                @foreach (var comment in Model)
                {
                    <hr>
                    <partial name="_CommentsPartial" model="comment" />
                    <hr>
                }
            </div> <!-- Card -->
        </div>
    </div>

</div>


<button data-toggle="modal" data-target="#exampleModal" class="btn btn-info float-right">Add comment</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="form-group">
                    <label  style="color:white;">Content</label>
                    <input name="Content" type="text" class="form-control" value="" placeholder="Content">
                    <span style="color:red"></span>
                </div>

                <button type="submit" class="btn btn-block btn-primary bg-success" style="color:white;">Publish</button>
            </form>
        </div>
    </div>
</div>