@model IEnumerable<BlogServiceModel>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

@if (!Model.Any())
{
    <h2>No blogs yet...</h2>
}
else
{
    <div class="container mb80">
        <div class="float-right card" style="width:300px">
            <h4 class=display>Recent posts</h4>
            @foreach (var post in Model.OrderByDescending(x => x.CreatedOn).Take(3))
            {
                <div class="media" style="padding-top:15px">
                    <div class="media-left">
                        <img src="~/img/@post.Image" ;class="media-object" alt="64x64" style="width: 64px; height: 64px; border-radius:50px" data-holder-rendered="true">
                    </div>
                    <div class="media-body">
                        <p class="media-heading">@post.Title</p>
                    </div>
                </div>
                <hr>
            }


        </div>
        @foreach (var blog in Model)
        {
            <partial name="_BlogsPartial" model="blog" />
        }
    </div>
}