<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container mb80">
    <div>
        @for (int i = 0; i < 3; i++)
        {
            <partial name="_BlogsPartial"/>
        }
    </div>
</div>
