@model BlogPostQueryModel
@if (this.TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @this.TempData["message"]
    </div>
}
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <h2>Manage my blogs</h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"><i class="far fa-newspaper"></i></th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var blog in Model.Blogs)
                    {
                        <partial name="_BlogsPartial" model="blog" />
                    }

                </tbody>
            </table>
        </div>
    </div>
    @{
        var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }
        var maxPage = Math.Ceiling((double)Model.TotalPosts / Model.ElementsPerPage);
    }
    @{
        var shouldPreviousButtonBeDisabled = Model.CurrentPage == 1 || !Model.Blogs.Any();
        var shouldNextButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Blogs.Any();
    }
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-outline-primary float-left " style="display:@(shouldPreviousButtonBeDisabled?"none":"block")" asp-area="" asp-controller="MyProfile" asp-action="Blogs" asp-route-currentPage="@previousPage"><i class="fas fa-angle-double-left"></i></a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-outline-primary float-right" style="display:@(shouldNextButtonBeDisabled?"none":"block")" asp-area="" asp-controller="MyProfile" asp-action="Blogs" asp-route-currentPage="@(Model.CurrentPage+1)"><i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>

</div>
