@model PetPostViewModel 
    <h2 class="text-center">Edit Pet <i class="fas fa-paw"></i></h2>
<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Name" style="color:white;">Name</label>
        <input asp-for="Name" type="text" class="form-control" value="@Model.Name" placeholder="Name">
        <span asp-validation-for="Name" style="color:red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" style="color:white;">Age</label>
        <input asp-for="Age" asp-validation-for="Age" type="number" value="@Model.Age" class="form-control" placeholder="Age">
        <span asp-validation-for="Age" style="color:red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" style="color:white;">Image URL</label>
        <input asp-for="Image" class="form-control">
        <span asp-validation-for="Image" style="color:red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type" style="color:white;">Type</label>
        <select asp-for="Type" class="form-control">

            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Other">Other</option>

        </select>
    </div>
    <div class="form-group">
        <label asp-for="Gender" style="color:white;">Gender</label>
        <select asp-for="Gender" class="form-control">

            <option value="Male">Male</option>
            <option value="Female">Female</option>

        </select>
    </div>
    <div class="form-group">
        <label asp-for="IsVaccinated" style="color:white;">IsVaccinated</label>
        <select asp-for="IsVaccinated" class="form-control">
            <option value="Yes">Yes</option>
            <option value="No">No</option>

        </select>
    </div>
    <div class="form-group">
        <label asp-for="City" style="color:white;">City</label>
        <input asp-for="City" type="text" value="@Model.City" class="form-control" placeholder="City">
        <span asp-validation-for="City" style="color:red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" style="color:white;">Address</label>
        <input asp-for="Address" type="text" class="form-control" value="@Model.Address" placeholder="Address">
        <span asp-validation-for="Address" style="color:red"></span>
    </div>

    <button type="submit" class="btn btn-block btn-primary bg-warning" style="color:black;">Save changes <i class="far fa-save"></i></button>
</form>