@model PetPostQueryModel
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <h2>Manage my pet posts</h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"><i class="fas fa-paw"></i></th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Gender</th>
                        <th scope="col">IsVaccinated</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Type</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model.Pets)
                    {
                        <partial name="_PostsPartial" model="post" />
                    }

                </tbody>
            </table>
        </div>
    </div>
    @{
        var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }
        var maxPage = Math.Ceiling((double)Model.TotalPosts / Model.ElementsPerPage);
    }
    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Pets.Any();
    }
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-outline-danger float-left " asp-area="" asp-controller="MyProfile" asp-action="Posts" asp-route-currentPage="@previousPage"><i class="fas fa-angle-double-left"></i></a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-outline-danger float-right" style="display:@(shouldButtonBeDisabled?"none":"block")" asp-area="" asp-controller="MyProfile" asp-action="Posts" asp-route-currentPage="@(Model.CurrentPage+1)"><i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>

</div>
