@model VetsDetailViewModel
<div class="container d-flex justify-content-center">

    <div class="card bg-dark" style="width:700px;color:white">
        <img class="card-img-top" src="https://www.lalithahospital.in/wp-content/uploads/2019/12/18562dummytt.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">@Model.FirstName @Model.Surname</h4>
            <ul class="shadow">

                <li>@Model.Description</li>

            </ul>

        </div>
    </div>

</div>