@using PetSanctuary.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p style="font-weight:bold">Adopt a pet save a pet</p>
</div>
<div class="text-center">
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-with-owner-outside-on-grass-1554715073.jpg?crop=1.00xw:0.751xh;0,0.0196xh&resize=640:*" class="img-thumbnail" alt="...">
</div>

