@using PetSanctuary.Web.ViewModels.User
@model List<PetPostViewModel>
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <h2>Manage my pet posts</h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"><i class="fas fa-paw"></i></th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Gender</th>
                        <th scope="col">IsVaccinated</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Type</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <partial name="_PostsPartial" model="post"/>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>
