<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <h2>Manage my pet posts</h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"><i class="fas fa-paw"></i></th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Gender</th>
                        <th scope="col">IsVaccinated</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Type</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mickey</td>
                        <td>Sofia, Geo Milev</td>
                        <td>Male</td>
                        <td>Yes</td>
                        <td>0882763896</td>
                        <td>Dog</td>
                        <td>
                            <a href="#"><i class="fas fa-pencil-alt bg mr-3 " style="color:orange"></i></a>
                            <a href="#"><i class="fas fa-trash" style="color:red"></i></a>

                        </td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Chubby</td>
                        <td>Sofia, Geo Milev</td>
                        <td>Female</td>
                        <td>Yes</td>
                        <td>0882351205</td>
                        <td>Dog</td>
                        <td>
                            <a href="#"><i class="fas fa-pencil-alt bg mr-3" style="color:orange"></i></a>
                            <a href="#"><i class="fas fa-trash" style="color:red"></i></a>

                        </td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mina</td>
                        <td>Blagoevgrad, Levski 11</td>
                        <td>Female</td>
                        <td>No</td>
                        <td>088231234</td>
                        <td>Cat</td>
                        <td>
                            <a href="#"><i class="fas fa-pencil-alt bg mr-3" style="color:orange"></i></a>
                            <a href="#"><i class="fas fa-trash" style="color:red"></i></a>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
