
<div class="container">
    <div class="row d-flex justify-content-lg-center">
        <div class="col-7">
            <div class="row" style="width:646px">

                <div class="card bg-dark">
                    <div class="card-body" style="width:650px">
                        <div class="d-flex flex-column align-items-center text-center">
                            <i class="fas fa-user-circle" style="font-size:100px;color:white;"></i>
                            <div class="mt-3">
                                <h4 style="color:white">John Doe</h4>
                                
                                <a class="btn btn-success" asp-area="" asp-controller="User" asp-action="Posts">View Posts <i class="fas fa-paw"></i></a>
                                <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Blogs">View Blogs <i class="far fa-newspaper"></i></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="color:white">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                fip@jukmuh.al
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="color:white">
                            <div class="col-sm-3">
                                <h6 class="mb-0" style="color:white">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" style="color:white">
                                (239) 816-9029
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="color:white">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                        <hr>
                    </div>
                   
                </div>


            </div>
        </div>

    </div>
</div>
